.title {
    background-image: url("images/wallpaper/title.jpg");
    background-repeat: no-repeat;
    background-size: 35%;
    height: 17%;
    width: 40%;
    position: absolute;
    }
    
    .container {
    background-repeat: no-repeat; 
    background-image: url("images/wallpaper/window.jpg");
    background-size: 100%;
    height: 78%;
    width: 50%;
    margin-top: 0.5%;
    }
    
    .icon {
    width: 50px;
    }
    
    body {
    background-image: url("images/wallpaper/wallpaper.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    }
    
    body, h1, h2, h3, h4, h5, h6  {
      font-family: Tahoma, "Trebuchet MS", sans-serif;
    }
    
    .buttons_style {
    background-repeat: no-repeat;
    border-width: 0px;
    width: 111px;
    height:41;
    
    }
    
    .hr_1 {
    border-width: 0px;
    }
    
    .folders {
      position: relative;
      top: 30%;
      width: 100%;
      text-align: center;
      font-size: 18px;
    }
    
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      height: 10%;
      width: 100%;
      background-image: url("images/wallpaper/taskbar.jpg");
      background-repeat: no-repeat; 
      background-size: 100%;
      text-align: left;
    }
    
    .footer_text {
      margin-left: 2%;
    }
    
    /* assets */
    
    #chell19 {
    background-image: url("images/assets/chell19.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    }
    
    #phdgd {
    background-image: url("images/assets/phdgd saphire gr.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    }
    
    #chell17 {
    background-image: url("images/assets/chell17.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    }
    
    #sherry12 {
    background-image: url("images/assets/sherry12.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    }
    
    